/* <div class = "Pokemon_details">
        <div id="nombreCodigo"></div>
        <div class="img_perfil">
            <img src="" alt="" id="perfil">
        </div>
        <div id="estadistica"><ul id="estadisticaUl"></ul></div>
        
    </div> */

    .Pokemon_details{
        background: bisque;
        display: grid;
        grid:
        'photo photo header header header header'
        'photo photo stats stats stats stats'
        'last  type type moves moves before';
        grid-gap: 10px;
        margin: 0 auto;
        max-width: 1280px;
        width: 95vw; /* La caja ocupará el 50% del ancho de la ventana */
        height: 100vh; /* La caja ocupará el 50% de la altura de la ventana */
        overflow: hidden;
        position: relative;

    }
    #nombreCodigo{
      position: relative;
      top:100px;
        grid-area: header;
        border: 1px solid;
        width: 740px;
        height: 40px;
        margin: 10px;
        text-align: center;
        font-size: xx-large;
        font-family: "Flexo-Medium",arial,sans-serif;
        
    }
     .img_perfil{
      position: relative;
      top:100px;
        grid-area: photo;
        border: 1px solid;
        border-radius:25px;
        width: 476px;
        height: 476px;
        margin: 10px;
     }
     #estadistica{

        grid-area: stats;
        border: 1px solid;
        border-radius:25px;
        width: auto;
        height: auto;
        margin: 10px;
        padding: 10px;
     }
     ul { 
      border: 1px solid;
      width: auto;
      height: 200px;
        list-style-type: none; 
      } 
    h2{
        text-align: center;
      }

     li{
        font-size: 18px;
        float: left; 
        margin: 3px; 
        padding: 5px;
        width: 30%;
        height: auto;
        border: 1px solid #000000; 
     }
     #movimientoUl>li{
      font-size: 18px;
      float: left; 
      margin: 3px; 
      padding: 5px;
      width: 40%;
      height: auto;
      border: 1px solid #000000; 
   }

     #tipo{
        grid-area: type;
        border: 1px solid;
        width: auto;
        height: 75%;
        margin: 3px; 
        padding: 5px;
        list-style-type: none; 
     }

     #movimientos{
      grid-area: moves;
      border: 1px solid;
      width: auto;
      height: 75%;
      margin: 3px; 
      padding: 5px;
      list-style-type: none; 
   }

     #last{
      grid-area: last;
      width: 300px; /* Establece el ancho del botón */
      height: 300px; /* Establece la altura del botón */
      border-radius: 50%; /* Hace que el botón tenga bordes redondeados para formar un círculo */
      background-color: #3498db; /* Establece el color de fondo del botón */
      color: white; /* Establece el color del texto del botón */
      font-size: 36px; /* Establece el tamaño del texto del botón */
      border: none; /* Elimina el borde del botón */
     }
     #before{
      grid-area: before;
      width: 300px; /* Establece el ancho del botón */
      height: 300px; /* Establece la altura del botón */
      border-radius: 50%; /* Hace que el botón tenga bordes redondeados para formar un círculo */
      background-color: #3498db; /* Establece el color de fondo del botón */
      color: white; /* Establece el color del texto del botón */
      font-size: 36px; /* Establece el tamaño del texto del botón */
      border: none; /* Elimina el borde del botón */
     }
